@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model PartyInvites.Models.GuestResponse

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>Thanks</title>
</head>
<body>
<p>
  <h1>Thank you , @Model.Name !</h1>
  @if (Model.WillAttend == true)
  {
    @:It's great that you are coming, drinks are in fridge.
  }
  else
  {
    @:Sorry to hear that you cannot make it, but thanks for letting us know.
  }
</p>
<p>Click <a asp-action="ListResponses">Here</a> to see who is coming</p>
</body>
</html>
